//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 08 23:43:36 2015
//! **************************************************************************

SCHEMATIC START;
COMP "ANODE<0>" LOCATE = SITE "N6" LEVEL 1;
COMP "ANODE<1>" LOCATE = SITE "M6" LEVEL 1;
COMP "ANODE<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "ANODE<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "ANODE<4>" LOCATE = SITE "N2" LEVEL 1;
COMP "ANODE<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "ANODE<6>" LOCATE = SITE "L1" LEVEL 1;
COMP "ANODE<7>" LOCATE = SITE "M1" LEVEL 1;
COMP "SEGMENT<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "SEGMENT<1>" LOCATE = SITE "N1" LEVEL 1;
COMP "SEGMENT<2>" LOCATE = SITE "L5" LEVEL 1;
COMP "SEGMENT<3>" LOCATE = SITE "L4" LEVEL 1;
COMP "SEGMENT<4>" LOCATE = SITE "K3" LEVEL 1;
COMP "SEGMENT<5>" LOCATE = SITE "M2" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "T8" LEVEL 1;
COMP "SEGMENT<6>" LOCATE = SITE "L6" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V9" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "U6" LEVEL 1;
COMP "BTNC" LOCATE = SITE "E16" LEVEL 1;
COMP "SWITCH<0>" LOCATE = SITE "U9" LEVEL 1;
COMP "BTND" LOCATE = SITE "V10" LEVEL 1;
COMP "SWITCH<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "SWITCH<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "SWITCH<3>" LOCATE = SITE "R6" LEVEL 1;
COMP "SWITCH<4>" LOCATE = SITE "R5" LEVEL 1;
COMP "SWITCH<5>" LOCATE = SITE "V7" LEVEL 1;
COMP "SWITCH<6>" LOCATE = SITE "V6" LEVEL 1;
COMP "SWITCH<7>" LOCATE = SITE "V5" LEVEL 1;
COMP "BTNU" LOCATE = SITE "F15" LEVEL 1;
SCHEMATIC END;

