//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 20 15:27:54 2015
//! **************************************************************************

SCHEMATIC START;
COMP "SWITCH<15>" LOCATE = SITE "P4" LEVEL 1;
COMP "ANODE<0>" LOCATE = SITE "N6" LEVEL 1;
COMP "ANODE<1>" LOCATE = SITE "M6" LEVEL 1;
COMP "LED<10>" LOCATE = SITE "V1" LEVEL 1;
COMP "ANODE<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "LED<11>" LOCATE = SITE "R1" LEVEL 1;
COMP "ANODE<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "LED<12>" LOCATE = SITE "P5" LEVEL 1;
COMP "ANODE<4>" LOCATE = SITE "N2" LEVEL 1;
COMP "LED<13>" LOCATE = SITE "U1" LEVEL 1;
COMP "ANODE<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "LED<14>" LOCATE = SITE "R2" LEVEL 1;
COMP "ANODE<6>" LOCATE = SITE "L1" LEVEL 1;
COMP "LED<15>" LOCATE = SITE "P2" LEVEL 1;
COMP "ANODE<7>" LOCATE = SITE "M1" LEVEL 1;
COMP "SEGMENT<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "SEGMENT<1>" LOCATE = SITE "N1" LEVEL 1;
COMP "SEGMENT<2>" LOCATE = SITE "L5" LEVEL 1;
COMP "SEGMENT<3>" LOCATE = SITE "L4" LEVEL 1;
COMP "SEGMENT<4>" LOCATE = SITE "K3" LEVEL 1;
COMP "SEGMENT<5>" LOCATE = SITE "M2" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "T8" LEVEL 1;
COMP "SEGMENT<6>" LOCATE = SITE "L6" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V9" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "T5" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "T4" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "U7" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "U6" LEVEL 1;
COMP "LED<8>" LOCATE = SITE "V4" LEVEL 1;
COMP "BUTTON<1>" LOCATE = SITE "T16" LEVEL 1;
COMP "LED<9>" LOCATE = SITE "U3" LEVEL 1;
COMP "BUTTON<2>" LOCATE = SITE "R10" LEVEL 1;
COMP "BUTTON<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "BUTTON<4>" LOCATE = SITE "V10" LEVEL 1;
COMP "BUTTON<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "SWITCH<0>" LOCATE = SITE "U9" LEVEL 1;
COMP "SWITCH<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "SWITCH<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "SWITCH<3>" LOCATE = SITE "R6" LEVEL 1;
COMP "SWITCH<4>" LOCATE = SITE "R5" LEVEL 1;
COMP "SWITCH<5>" LOCATE = SITE "V7" LEVEL 1;
COMP "SWITCH<6>" LOCATE = SITE "V6" LEVEL 1;
COMP "SWITCH<7>" LOCATE = SITE "V5" LEVEL 1;
COMP "SWITCH<10>" LOCATE = SITE "U2" LEVEL 1;
COMP "CLK" LOCATE = SITE "E3" LEVEL 1;
COMP "SWITCH<8>" LOCATE = SITE "U4" LEVEL 1;
COMP "SWITCH<11>" LOCATE = SITE "T3" LEVEL 1;
COMP "SWITCH<9>" LOCATE = SITE "V2" LEVEL 1;
COMP "SWITCH<12>" LOCATE = SITE "T1" LEVEL 1;
COMP "SWITCH<13>" LOCATE = SITE "R3" LEVEL 1;
COMP "SWITCH<14>" LOCATE = SITE "P3" LEVEL 1;
PIN DP_LIGHT_SHOW_ROM/Mram_ADDRESS[9]_GND_9_o_wide_mux_0_OUT_pins<63> = BEL
        "DP_LIGHT_SHOW_ROM/Mram_ADDRESS[9]_GND_9_o_wide_mux_0_OUT" PINNAME
        CLKARDCLKU;
PIN DP_LIGHT_SHOW_ROM/Mram_ADDRESS[9]_GND_9_o_wide_mux_0_OUT_pins<62> = BEL
        "DP_LIGHT_SHOW_ROM/Mram_ADDRESS[9]_GND_9_o_wide_mux_0_OUT" PINNAME
        CLKARDCLKL;
TIMEGRP sys_clk_pin = BEL "W24D7S/cnt/Q_2" BEL "W24D7S/cnt/Q_1" BEL
        "W24D7S/cnt/Q_0" BEL "FSM_LIGHT_SHOW/presentState_FSM_FFd4" BEL
        "FSM_LIGHT_SHOW/presentState_FSM_FFd3" BEL
        "FSM_LIGHT_SHOW/presentState_FSM_FFd2" BEL "W24D7S/cnt/count_0" BEL
        "W24D7S/cnt/count_1" BEL "W24D7S/cnt/count_2" BEL
        "DP_LIGHT_SHOW/REG_PC/Q_9" BEL "DP_LIGHT_SHOW/REG_PC/Q_8" BEL
        "DP_LIGHT_SHOW/REG_PC/Q_7" BEL "DP_LIGHT_SHOW/REG_PC/Q_6" BEL
        "DP_LIGHT_SHOW/REG_PC/Q_5" BEL "DP_LIGHT_SHOW/REG_PC/Q_4" BEL
        "DP_LIGHT_SHOW/REG_PC/Q_3" BEL "DP_LIGHT_SHOW/REG_PC/Q_2" BEL
        "DP_LIGHT_SHOW/REG_PC/Q_1" BEL "DP_LIGHT_SHOW/REG_PC/Q_0" BEL
        "DP_LIGHT_SHOW/REG_LED/Q_0" BEL "DP_LIGHT_SHOW/REG_LED/Q_1" BEL
        "DP_LIGHT_SHOW/REG_LED/Q_2" BEL "DP_LIGHT_SHOW/REG_LED/Q_3" BEL
        "DP_LIGHT_SHOW/REG_LED/Q_4" BEL "DP_LIGHT_SHOW/REG_LED/Q_5" BEL
        "DP_LIGHT_SHOW/REG_LED/Q_6" BEL "DP_LIGHT_SHOW/REG_LED/Q_7" BEL
        "DP_LIGHT_SHOW/REG_LED/Q_8" BEL "DP_LIGHT_SHOW/REG_LED/Q_9" BEL
        "DP_LIGHT_SHOW/REG_LED/Q_10" BEL "DP_LIGHT_SHOW/REG_LED/Q_11" BEL
        "DP_LIGHT_SHOW/REG_LED/Q_12" BEL "DP_LIGHT_SHOW/REG_LED/Q_13" BEL
        "DP_LIGHT_SHOW/REG_LED/Q_14" BEL "DP_LIGHT_SHOW/REG_LED/Q_15" BEL
        "DP_LIGHT_SHOW/REG_DELAY_SP/Q_0" BEL "DP_LIGHT_SHOW/REG_DELAY_SP/Q_1"
        BEL "DP_LIGHT_SHOW/REG_DELAY_SP/Q_2" BEL
        "DP_LIGHT_SHOW/REG_DELAY_SP/Q_3" BEL "DP_LIGHT_SHOW/REG_DELAY_SP/Q_4"
        BEL "DP_LIGHT_SHOW/REG_DELAY_SP/Q_5" BEL
        "DP_LIGHT_SHOW/REG_DELAY_SP/Q_6" BEL "DP_LIGHT_SHOW/REG_DELAY_SP/Q_7"
        BEL "DP_LIGHT_SHOW/REG_DELAY_SP/Q_8" BEL
        "DP_LIGHT_SHOW/REG_DELAY_SP/Q_9" BEL "DP_LIGHT_SHOW/REG_DELAY_SP/Q_10"
        BEL "DP_LIGHT_SHOW/REG_DELAY_SP/Q_11" BEL
        "DP_LIGHT_SHOW/REG_DELAY_SP/Q_12" BEL
        "DP_LIGHT_SHOW/REG_DELAY_SP/Q_13" BEL
        "DP_LIGHT_SHOW/REG_DELAY_SP/Q_14" BEL
        "DP_LIGHT_SHOW/REG_DELAY_SP/Q_15" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_16" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_15" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_14" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_15" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_14" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_13" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_12" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_11" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_10" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_9" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_8" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_7" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_6" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_5" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_4" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_3" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_2" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_1" BEL
        "DP_LIGHT_SHOW/CTR_DELAY/count_0" BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_15"
        BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_14" BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_13"
        BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_12" BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_11"
        BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_10" BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_9"
        BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_8" BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_7"
        BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_6" BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_5"
        BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_4" BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_3"
        BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_2" BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_1"
        BEL "DP_LIGHT_SHOW/CTR_DELAY/Q_0" BEL
        "FSM_LIGHT_SHOW/presentState_FSM_FFd1" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_0" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_16" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_15" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_14" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_13" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_12" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_11" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_10" BEL "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_9"
        BEL "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_8" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_7" BEL "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_6"
        BEL "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_5" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_4" BEL "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_3"
        BEL "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_2" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_1" BEL "DP_LIGHT_SHOW/PULSE1ms/cnt/Q_0"
        BEL "DP_LIGHT_SHOW/PULSE1ms/cnt/count_1" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_2" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_3" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_4" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_5" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_6" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_7" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_8" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_9" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_10" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_11" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_12" BEL
        "DP_LIGHT_SHOW/PULSE1ms/cnt/count_13" BEL "CLK_BUFGP/BUFG" PIN
        "DP_LIGHT_SHOW_ROM/Mram_ADDRESS[9]_GND_9_o_wide_mux_0_OUT_pins<63>"
        PIN
        "DP_LIGHT_SHOW_ROM/Mram_ADDRESS[9]_GND_9_o_wide_mux_0_OUT_pins<62>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

